################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeTrackerBIXF/TimeTrackerBIXF/obj
/TimeTrackerBIXF/TimeTrackerBIXF.Android/obj
/TimeTrackerBIXF/TimeTrackerBIXF.iOS/obj
